* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  background: rgb(20, 19, 19);
  font-family: "Montserrat", sans-serif;
}
#fullpage {
  display: inline;
}

#header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-items: center;
  grid-gap: 20px;

  /* grid-row-gap: 100px; */
  width: 80%;
  /* border: 2px rgb(0, 255, 21) solid; */
  display: flex;
  margin: 30px auto;
}
#flex1 {
  position: relative;
  padding-top: 150px;
  width: 50%;
  /* border: 2px red solid; */
}
#header span {
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  /* padding-left: 100px; */
}
#header p {
  margin-top: -40px;
  padding-left: 10px;
  line-height: 35px;
  font-size: 20px;
  color: white;
}
#header p a {
  color: rgb(255, 230, 230);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
#header p a:hover {
  border-bottom: 2px rgb(223, 223, 223) solid;
}

#flex2 {
  position: relative;
  width: 50%;
  /* border: 2px red solid; */
  text-align: center;
}

#flex2 svg {
  fill: rgb(250, 245, 236);
  width: 300px;
  /* padding-top: -100px; */
}
#flex2 svg:hover {
  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.7); */
  /* backdrop-filter: drop-shadow(4px 4px 10px blue); */
}

/* Skills */
#skills-container {
  width: 100%;
  display: inline-block;
  text-align: center;
}
#skills-container img {
  width: 80px;
  padding: 20px;
}

/* Header Nav */
nav {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgb(20, 19, 19);
}

nav a {
  color: white;
  text-decoration: none;
  line-height: 50px;
  margin-left: 1em;
}
a:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  /* text-shadow: 2px 2px #737e81; */
}

.logo {
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 2px;
}

nav ul {
  float: right;
  list-style: none;
  margin-right: 5em;
}

nav ul li {
  display: inline-block;
  margin-left: 50px;
}

#space {
  margin-top: 100px;
}
span {
  width: 100%;
  display: inline-block;
  /* padding-left: 80px; */
  text-align: center;
  color: white;
  font-size: 45px;
  /* margin-top: 100px; */
  margin-bottom: 40px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
h1 {
  /* padding-left: 80px; */
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
h3 {
  text-align: center;
  color: white;
  /* font-family: "Montserrat", sans-serif; */
  margin-top: 10px;
}

a {
  border-radius: 4px;
  text-decoration: none;
  display: absolute;
  /* border: 4px solid rgb(255, 255, 255); */
}
a:hover > h3,
img {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  /* text-shadow: 2px 2px #737e81; */
}
img {
  margin: auto;
  width: 500px;
  position: relative;
  border-radius: 5px;
  object-fit: contain;
}
a:hover > img {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
  /* text-shadow: 2px 2px #737e81; */
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 4fr));
  justify-items: center;
  grid-gap: 20px;
  grid-row-gap: 100px;
}
#projects-heading {
  margin-bottom: 70px;
}
#more {
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
  font-size: 50px;
}
.mobile {
  display: none;
}

/* Footer */
footer a {
  text-decoration: none;
  color: var(--main-black);
}

footer ul {
  list-style: none;
  float: right;
}

footer ul li {
  display: inline-block;
  margin-left: 50px;
}

.copy a,
.copy p {
  display: inline-block;
  vertical-align: middle;
}

.copy p {
  margin-left: 20px;
}

footer {
  width: 90%;
  padding: 0 5%;
  color: white;
}

footer ul,
.copy {
  line-height: 80px;
  display: inline-block;
}
/* RESPONSIVE 815px*/
@media only screen and (max-width: 815px) {
  .btnWhite {
    margin-bottom: 20px;
  }

  .callToAction {
    width: 90%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  #toggle {
    display: none;
  }
  label {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
  }
  #toggle:not(:checked) + #menu {
    display: none;
  }

  #toggle:checked + #menu {
    display: block;
  }
}
